<div class="row" ng-controller="PostsCtrl">
<div class="col-xs-12 col-md-6 col-md-offset-3">
<br>
<h1>Додавання нового поста</h1>
<form name="addPost" novalidate>
	<div class="form-group">
		<label>Заголовок</label>
		<input type="text" ng-model="title" class="form-control" required>
	</div>

	<div class="form-group">
		<label>Пост</label>
		<textarea class="form-control" rows="3" ng-model="text" required></textarea>
	</div>
	
	<div class="form-group">
		<label>Автор</label>
		<input type="text" ng-model="author" class="form-control" required>
	</div>
	<p class="bg-warning" ng-show="!addPost.$valid">Необхідно заповнити всі поля.</p>
	<button type="button" class="btn btn-primary" ng-click="addPost.$valid && addPost(title, text, author)">Додати</button>
</form>
</div>
</div>