<div class="row" ng-controller="PostsCtrl">
<div class="col-xs-12 col-md-6 col-md-offset-3">
<br>
<h1>Додавання нового поста</h1>
<form name="addPostForm" novalidate>
	<div class="form-group">
		<label>Заголовок</label>
		<p class="bg-danger" ng-show="addPostForm.title.$error.maxlength">Помилка: максимум 30 символів.</p>
		<p class="bg-danger" ng-show="addPostForm.title.$error.minlength">Помилка: поле не може бути пустим.І</p>
		<input type="text" name="title" ng-model="title" class="form-control" ng-minlength="1" ng-maxlength="30" required>
	</div>

	<div class="form-group">
		<label>Пост</label>
		<p class="bg-danger" ng-show="addPostForm.text.$error.maxlength">Помилка: максимум 400 символів.</p>
		<p class="bg-danger" ng-show="addPostForm.text.$error.minlength">Помилка: поле не може бути пустим.І</p>
		<textarea class="form-control" name="text" rows="3" ng-model="text" ng-minlength="1" ng-maxlength="400" required></textarea>
	</div>
	
	
	<p class="bg-warning" ng-show="!addPostForm.$valid">Необхідно заповнити всі поля.</p>
	<p class="bg-danger" ng-show="postSaveError">Помилка: [[ postSaveError ]]</p>
	<button type="button" class="btn btn-primary" ng-click="addPostForm.$valid && addPost(title, text, author)">Додати</button>
</form>
</div>
</div>